.content-wraper{
    padding: 20px;
}
.heading h3{
    margin: -15px;
    font-size: 24px;
    color: #929292;
    padding: 15px;
    font-weight: normal;
    margin-bottom: 20px;
    background-color: #fafbfc;
    border-bottom: 1px solid #cfdbe2
}
.panel{
    border-top-width: 3px;
    border: 1px solid #cfdbe2;
}
.fs-20{
    font-size: 20px;
}
.filter{
    padding: 5px;
    width: 45%;
    border: 1px solid #aaa;
}
.p-column-header-content{
    white-space: nowrap;
}
.p-datatable .p-datatable-header {
    background: none;
    border: none;
}
.p-datatable .p-datatable-tbody > tr > td {
    padding: 8px 10px;
    font-size: 13px;
    vertical-align: top !important;
    word-break: break-all
}
.p-datatable .p-datatable-tbody > tr > th {
    padding: 8px 18px; 
    font-size: 14px;
}
.btn-view{
    padding: 4px 5px;
    border-radius: 3px;
    font-size: 14px;
    color:white;
}
.width_desc_name{
    min-width: 220px;
}
.width_desc{
    min-width: 315px;
}
.p-datatable .p-datatable-thead > tr > th {
    color: #888;
    font-weight: 600;
    font-size: 14px;
}
.p-datatable .p-sortable-column .p-sortable-column-icon {
    color: #888;
}