/* General styles for the App */
.App {
    font-family: Arial, sans-serif;
    transition: margin-left 0.3s; /* Smooth transition for the main content */
}

/* Sidebar styles */
.w3-sidebar {
    background-color: #3a3f51; /* Dark background color */
    color: white; /* Text color */
    position: fixed; /* Fixed position for the sidebar */
    z-index: 1; /* Stack above other content */
    height: 100%; /* Full height */
    overflow-y: auto; /* Scroll if needed */
}

/* Sidebar links */
.w3-bar-item {
    padding: 16px; /* Padding for links */
    text-decoration: none; /* Remove underline */
    color: white; /* Text color */
    display: block; /* Block display for full width */
    transition: background 0.3s; /* Smooth transition for hover effect */
}

.w3-bar-item:hover {
    background-color: #575757; /* Darker background on hover */
}

/* Button styles */
.w3-button {
    background-color: transparent; /* Teal background */
    color: white; /* White text */
    border: none; /* No border */
    padding: 10px 15px; /* Padding */
    cursor: pointer; /* Pointer cursor */
    transition: background 0.3s; /* Smooth transition */
}

.w3-button:hover {
    background-color:#6357ae; /* Darker green on hover */

}


/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .w3-sidebar {
        width: 100%; /* Full width on small screens */
        display: none; /* Hidden by default */
    }
    .w3-sidebar.open {
        display: block; /* Show when open */
    }
}
.user-picture{
    width: 60px;
}
.user-circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #6357ae;
    line-height: 50px;
    text-align: center;
    font-size: 26px;
    font-weight: normal;
}
.user-info{
    padding: 15px;
}
.user-name{
    color: #7D848F;
    font-size: 13px;
}
.user-role{
    font-size: 11px;
    color: #6357ae;
}
div .employee{
    border-left: 3px solid transparent;
    border-left-color: #9289ca;
    padding: 12px 24px;
    background-color: #3a3f51;
    color: #6357ae;
}
.employee-link{
    text-decoration: none;
}
.employee-text{
    color:#9289ca;
    font-size: 14px;
}